{% macro navbar() %}
<div id="navbar">
    <a href="./">
        <h1>
            <img src="../static/images/susDot.png" alt="sussy wussy">
        </h1>
    </a>
    <h1>
        {% if session["username"] %}
        Hi {{ session["username"] }}
        {% endif %}
    </h1>

    <img src="../static/images/searchIcon.png" alt="">
    <input type="text" id="search-bar">

    <div>
        <a href="./cart" id="cartcart"> <img src="../static/images/shopping-cart.png" alt="cart">
            <div id="notification">{{ session["numberOfItems"] }}</div>
        </a>
    </div>
    <a href="./login"> <img src="../static/images/user.png" alt="login"> </a>
</div>
{% endmacro %}

{% macro footer() %}
<footer>
    <h1>DAT</h1>
    <br>
    <p>Kontakt os: email: support@DAT.dk, tlf:24240012</p>
    <a href="https://www.youtube.com/watch?v=yPYZpwSpKmA&ab_channel=RickAstley">facebook</a>
</footer>
{% endmacro %}

{% macro review() %}
<div class="review">
    <h1>review</h1>
</div>
{% endmacro %}
