{% from "_components.html" import navbar, footer %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/images/trainIcon.png" type="image/x-icon">
    <title>Cart</title>
</head>

<body>
    {{ navbar() }}
    <div class="content">
        <h2>Indkøbskurv</h2>

        <div class="payment-details">
            <h2>Betalingsdetaljer</h2>
            <ul id="payment-list">
                {% for cartTrain in cartTrainData %}
                    <li>{{ cartTrain.name }}: {{ cartTrain.price }} kr.</li>
                {% endfor %}
                <br>
                <li>Total price: {{ trainPriceSum }} kr.</li>
            </ul>
            <button id="payment-button">Gå til betaling</button>
        </div>

        <div class="cart-items">
            <div>
                {% for cartTrain in cartTrainData %}
                    <img src={{ "../static/images/trains/" + cartTrain.image }} alt={{ cartTrain.image }} width="200">    
                {% endfor %}
            </div>
        </div>
    </div>
    <button id="test"></button>
    {{ footer() }}
</body>

</html>