{% from "_components.html" import navbar, footer %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/images/trainIcon.png" type="image/x-icon">
    <script src="../static/js/searchBar.js" defer></script>
    <title>Home</title>
</head>

<body>
    {{ navbar() }}
    <div class="content">
        <img id="home-image" src="../static/images/body-backgroound.jpg" alt="home image">
        <div class="train-frames">
            {% for train in trainData %}
            <form action="./buy-form" method="post" class="train-frame" id={{ train.name }}>
                <h4>{{ train.name }}</h4>
                <img id="train-image" src="../static/images/trains/{{train.imagePath}}" alt="{{train.imagePath}}">
                <input type="hidden" name="trainID" value="{{train.ID}}">
                <input type="submit" value="Køb" id="buy-button">
                <a href="./reviews?trainID={{train.ID}}">
                    <input type="button" value="reviews" class="review-button">
                </a>
            </form>
            {% endfor %}
        </div>
    </div>
    {{ footer() }}
</body>

</html>