<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/images/trainIcon.png" type="image/x-icon">
    <script src="../static/js/searchBar.js" defer></script>
    <title>Home</title>
</head>

<body>

    <div id="navbar">
        <a href="./">
            <h1>
                <img src="../static/images/susDot.png" alt="sussy wussy">
            </h1>
        </a>
        <h1>
            {% if session["username"] %}
            Hi {{ session["username"] }}
            {% endif %}
        </h1>

        <img src="../static/images/searchIcon.png" alt="">
        <input type="text" id="search-bar">

        <div>
            <a href="./cart" id="cartcart"> <img src="../static/images/shopping-cart.png" alt="cart">
                <div id="notification">{{ session["numberOfItems"] }}</div>
            </a>
        </div>
        <a href="./login"> <img src="../static/images/user.png" alt="login"> </a>
    </div>

    <div class="content">
        <h2>Home</h2>
        <div class="train-frames">
            {% for train in trainData %}
            <form action="./buy-form" method="post" class="train-frame" id={{ train.name }}>
                <h4>{{ train.name }}</h4>
                <img id="train-image" src={{ "../static/images/trains/" + train.imagePath }} alt={{ train.imagePath }}>
                <input type="hidden" name="trainID" value={{ train.ID }}>
                <input type="hidden" name="scrolledY" value="0" class="scrolledY">
                <input type="submit" value="Køb" id="buy-button">
            </form>
            {% endfor %}
        </div>
    </div>

    <footer>
        <h1>DAT</h1>
        <br>
        <p>Kontakt os: email: support@DAT.dk, tlf:24240012</p>
        <a href="https://www.youtube.com/watch?v=yPYZpwSpKmA&ab_channel=RickAstley">facebook</a>
    </footer>
</body>

</html>