{% from "_components.html" import navbar, footer, review %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/images/trainIcon.png" type="image/x-icon">
    <title>Reviews</title>
</head>

<body>
    {{ navbar() }}
    <div>
        <div class="flex">
            <div>
                <h4>{{ train.name }}</h4>
                <img src="../static/images/trains/{{train.image}}" alt="{{train.image}}">
            </div>
            <div class="write-review">
                <form action="./send-review-form" method="post">
                    <textarea name="review-content" id="review-content-id" cols="30" rows="10"></textarea>
                    <br>
                    <input type="submit" value="Send anmeldelse">
                    <input type="hidden" name="trainID" value="{{train.id}}">
                </form>
            </div>
        </div>
        <hr>
        <h4>Reviews</h4>
        <div id="reviews">
            {% for review in reviews %}
            <div class="review">
                <h3>{{review.name}}</h3>
                <div class="review-content">{{review.text}}</div>
            </div>
            {% endfor %}
        </div>
    </div>
    {{ footer() }}
</body>

</html>